@mixin container {
    max-width: 1200px;
        width: 100%;
        margin: 50px auto;
        background: rgba(192, 224, 236, 0.527);
        height: calc(100vh - 150px);
        box-shadow: 0 0 20px 0px rgba(192, 224, 236, 0.527);
        border-radius: 10px;
}