$navbar-dropdown-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

.account_popup{
    position:absolute;
    cursor:auto;
    top:185%;
    right:-63%;
    width: 200px;
    background: rgb(255, 255, 255);
    border:1px solid #dbdce0;
    border-radius: 6px;
    box-shadow: $navbar-dropdown-shadow;
    z-index: 0;
    // opacity: 0;
    animation: animation .3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    button{
        position: absolute;
        top:3%;
        right: 3%;
        // width: 15px;
        padding: 2px 5px;
        color:rgb(33, 49, 60);
        
    }
    .main-info{
        width: 100%;
        background: rgb(33, 49, 60);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .email{
            padding: 10px;
            color:white;    
        }
        
    }
    .profile_options {
        width:100%;
        text-decoration:floor($number: 3);

        a{
            color:rgb(33, 49, 60) ;
            
            transition: color .1s linear;
            &:hover{
                color:#66f;;
            }
        }

        .logout{
            
            color:rgb(33, 49, 60) ;
            cursor: pointer;
            transition: color .1s linear;
            &:hover{
                color:#66f;;
            }
        }

       

        
        
        
    }
    // .profile_options a:hover{
    //     color:white
    // }
}

@keyframes animation{
    0%{opacity: 0;transform: translateY(-100px);}
    100%{opacity: 100%;transform: translateY(0)}
}

