@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto+Slab&display=swap');

.familyItem{
    border-radius: 3px;
    border: 1px solid rgb(142, 174, 189);
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Slab';
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.233);

    &:hover{
        background: rgb(244, 250, 252);
    }
    img{
        width: 200px;
        height: 150px;
        border-radius: 7px;
        object-fit: cover;
    }
    .data{
        margin-left: 10px;
        position:relative;
        width: 100%;
        .title{
            font-size: 18px;
        }
        .properties{
            margin: 5px 0 0 20px;
            font-size: 12px;
            li{
                list-style-type: circle;
            }
        }
       .living{
           font-size: 10px;
       }
       .freeProperty{
        position:absolute;
        bottom:15%;
        .free{
            color:rgba(106, 209, 152, 0.74);
        }
        .free_after{
             color:rgba(206, 185, 89, 0.808)
        }
       }

       .costs{
        position:absolute;
        top:0;
        right:5%;
        &_container{
            display: flex;
            justify-content: flex-end;
        }
        &_type{
            
            color:rgba(128, 127, 127, 0.726);
            font-size: 10px;
            align-self: flex-end;
            padding-bottom: 2px;
            margin-right: 3px;
        }
        &_number{
            font:bold;
        }
        
       }
       
    }
    
}