.authorization{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top:300px;
    
}

.authorization__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    /* height:400px; */
    padding:25px 0;
    background: rgba(128, 127, 127, 0.726);
    border-radius: 10px;
}

.authorization__inner *{
    margin: 5px 0;
}