.options_container {
    margin: 0 auto;
    width: 95%;
    background: rgba(255, 255, 255, 0.733);
    border-radius: 3px;
    border: 1px solid rgb(142, 174, 189);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 3px;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.233);

    .title {
        font-size: 18px;
    }

    & :nth-child(n) {
        padding: 5px;
    }
    .main-title {
        font-size: 20px;
        margin: 0 auto;
    }
    .mui-slider {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        .css-187mznn-MuiSlider-root {
            padding: 0;
        }
    }
    .input_area {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        input {
            width: 60px;
            padding: 2 5px;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    button {
        width: fit-content;
        outline: none;
        background: white;
        border: 1px solid #dfe1e4;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 4px 15px;
        cursor: pointer;
        transition: all 0.12s linear;
        border-radius: 2px;
        &:hover {
            background: rgb(243, 243, 243);
        }
        margin: 10px auto;
    }
}
