.navbar{
    width:100%;
    background: rgba(76, 56, 167, 0.432);
    box-shadow: 0 0 20px 10px rgba(76, 56, 167, 0.267);;
    height: 50px;
    display: flex;
    align-items: center;
    color:white;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.navbar__logo{
    font-size: 20px;
}

.navbar__links{
    display: flex;
}

.navbar *{
    color:white;
    text-decoration: none;
}

.navbar__authorization{
    margin-right: 20px;
    transition: all .2s linear;
    
}

.navbar__logout{
    cursor: pointer;
}

